@import url('https://use.typekit.net/rie3pjv.css');
.test-container {
    display: flex;

    gap: 1px;
}

.text-test {
    font-family: acumin-pro-wide, sans-serif;
    font-size: 4.3rem;
    font-weight: 100;
    margin-bottom: 10vh;
}

.symbol {
    background: black;
    width: 7px;
    height: 100%;
}

.test-symbol {
    width: 280px;
    transform: translate(11%);
}

.floor-1,
.floor-2 {
    height: 60px;
    display: flex;
    /* justify-content: space-between; */
}

.floor-2 {
    flex-direction: row-reverse;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* transform: scale(3); */
    overflow: hidden;
}

.test-row {
    font-family: acumin-pro-wide, sans-serif;
    font-size: 5rem;
}
